/* Estilos para el contenedor principal */
main {
    min-height: 100vh;
    background-color: #111111;
}

/* Estilos para el contenedor de texto */
.container {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Estilos para el botón */
.button {
    position: absolute;
    z-index: 2;
    top: 1005px;
    left: 46%;
    padding: 15px 25px;
    font-size: 18px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Estilos para el estado del botón cuando el cursor pasa sobre él (hover) */
.button:hover {
    background-color: #45a049;
}