main {
    min-height: 100vh;
    background-color: #111111;
}
.container {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.button {
    position: absolute;
    z-index: 2;
    top: 1005px;
    left: 46%;
    padding: 15px 25px;
    font-size: 18px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #45a049;
}